// --breakpoint-xs: 0;
// --breakpoint-sm: 576px;
// --breakpoint-md: 768px;
// --breakpoint-lg: 992px;
// --breakpoint-xl: 1200px;

body {
  width: 100%;
  color: $f-color-main;
  background-color: $c-grey;
  margin: 0 auto;
  font-size: 16px;
  @include poly-fluid-sizing(
    'font-size',
    (
      576px: 15px,
      768px: 16px,
      1200px: 17px
    )
  );
}

.hero {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &-icon-container,
  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5rem;
    max-height: 6.5rem;
  }

  &-icon-container {
    width: 35%;
    flex-basis: 35%;
    i {
      svg {
        transform: scale(2.5);

        @include media-breakpoint-up(md) {
          transform: scale(3);
        }

        @include media-breakpoint-up(lg) {
          transform: scale(3.5);
        }
      }
    }
  }

  &-title {
    width: 65%;
    flex-basis: 65%;

    h1 {
      font-size: 28px;
      @include poly-fluid-sizing(
        'font-size',
        (
          576px: 28px,
          768px: 32px,
          992px: 36px,
          1200px: 45px
        )
      );
    }
  }

  @include media-breakpoint-up(md) {
    &-icon-container {
      width: 25%;
      flex-basis: 25%;
    }

    &-title {
      width: 75%;
      flex-basis: 75%;
    }
  }

  @include media-breakpoint-up(lg) {
    &-icon-container {
      width: 15%;
      flex-basis: 15%;
    }

    &-title {
      width: 80%;
      flex-basis: 80%;
    }
  }
}

.data-section {
  padding: 2rem 0;
}
.data-section > div:first-child {
  margin-bottom: 2rem;
}
.section--body-parameters,
.section--exercise {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  height: 100%;
}

.exercise-info-block {
  margin-top: 2rem;

  p {
    margin: 0;
  }

  a {
    color: $c-link;
    text-decoration: none;
    font-weight: 500;
  }

  a:hover {
    color: $c-link-hover;
  }
}
.data-unit,
.section--exercise > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;

  label {
    display: inline-flex;
    width: 4rem;
    margin: 0;
  }
}

//error-message container
div[class^='container--'] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

//spans that shows metric units as cm, min, km/h...
.metric-unit {
  display: inline-flex;
  max-width: 3.5rem;
  width: 3rem;
  margin-left: 1rem;
}

.section-compute {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

//INFORMATION_SECTION
.information-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50rem;
}

//Style icons
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
//hide webpack uploaded svg-sprite
//just in case
#icon_sprite {
  display: none;
}

.icon-cogs {
  width: 1.0712890625em;
}

.icon-floppy-save {
  width: 0.857421875em;
}

.icon-trash-bin {
  width: 0.7861328125em;
}

.icon-mars {
  width: 0.857421875em;
}

.icon-venus {
  width: 0.6298828125em;
}

@include media-breakpoint-up(lg) {
  .data-section > div:first-child {
    margin-bottom: 0;
  }
}
